@use 'variables';
@use 'mixins';

.input{
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: variables.$Light-grayish-blue;
    // align-items: center;
    &__menos{
        @include mixins.signos(24px, 5px);
        
    }
    &__number{
        width: 100%;
        border: none;
        background-color: variables.$Light-grayish-blue;
        font-size: 1.2em;
        font-weight: 700;
        font-family: variables.$Font;
        text-align: center;
        outline: none;

        

    }
    &__mas{
        @include mixins.signos(19px, 3px);
      
    }
}